.About {
  width: 100%;
  min-height: 100vh;
  background-size: cover ;
  opacity: 0.8;
}

.About-container {
  height: 40%;
  width: 100%;
}

.About-row {
  height: 100%;
}

.About-col {
  height: 100%;
}

.About-pic {
  height: 20rem;
  width: 20rem;
  background-image: url('../../img/rithm11-81.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.3rem solid white;
  border-radius: 100%;
}
