.Contact {
  width: 100%;
  min-height: 100vh;
  /* text-align: center; */
}

/* .Contact input {
  max-width: 400px;
  width: 30vw;
  height: auto;
}

.input-group {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Contact textarea {
  max-width: 300px;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
} */