.Cover {
  width: 100%;
  height: 100vh;
  background-image: url('../../img/hk.jpg');
  background-size: cover ;
  background-position: center;
}
.Cover-content {
  height: 100%;
  color: var(--yellow);
}
@media (max-width: 575.9px) {
  .Cover-text {
    height: 20rem;
    width: 30rem;
  }
  .Cover-text-words h1{
    font-size: 4rem;
  }
}
@media (min-width: 576px) {
  .Cover-text {
    height: 40rem;
    width: 60rem;
  }
  .Cover-text-words h1{
    font-size: 8rem;
  }
}
.Cover-text {
  display: inline-block;
  position: relative;
}


.Cover-text-words h5{
  color: white;
}
.Cover-text-bg {
  background-color: var(--electric-blue-1);
  opacity: 0.3;
  height: 100%;
  width: 100%;
  position: absolute;
}