.Cover {
  width: 100%;
  height: 100vh;
  background-image: url('../../img/hk.jpg');
  background-size: cover ;
  opacity: 0.8;
}
.Cover-content {
  height: 100%;
  color: var(--yellow);
}
.Cover-text {
  display: inline-block;
  height: 40rem;
  width: 60rem;
  position:relative;
}
.Cover-text-words {
  position: relative;
}
.Cover-text-words h1{
  font-size: 8rem;
}
.Cover-text-words h5{
  color: white;
}
.Cover-text-bg {
  background-color: var(--electric-blue-1);
  opacity: 0.5;
  height: 50%;
  width: 100%;
  top: 0%;
  position: absolute;
  z-index: -1;
}