.ProjectOverview {
  width: 100%;
  height: 100vh;
  background-size: cover ;
  opacity: 0.8;
}

.ProjectOverview-container {
  height: 40%;
  width: 100%;
}

.ProjectOverview-row {
  height: 100%;
}

.ProjectOverview-col {
  height: 100%;
}

.ProjectOverview-pic {
  height: 100%;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  border: 0.3rem solid white;
}