.ProjectOverview {
  background-size: cover ;
}

.ProjectOverview-container {
  height: 40%;
  width: 100%;
}

.ProjectOverview-row {
  height: 100%;
}

.ProjectOverview-col {
  height: 100%;
}

.ProjectOverview-pic {
  height: 20rem;
  width: 30rem;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.3rem solid white;
}

