.Footer {
  text-decoration: none;
  opacity: 0.8; 
}

.active{
  color: var(--yellow);
}
.nav-link {
  width: 4rem;
} 

.Footer-link {
  color: white;
  font-size: 2rem;
  margin: auto;
  transition: font-size 0.1s;
}
.Footer-github:hover {
  color: #6e5494;
}

.Footer-linkedin:hover {
  color: #0077b5;
}

.Footer-contact:hover {
  color: #D44638;
}

.Footer-resume:hover {
  color: #008000;
}
.Footer-link:hover {
  font-size: 4rem;
}