@media (max-width: 575.9px) {
  .Footer {
    width: 15vw; 
    font-size: 7vw;
  }
}

@media (min-width: 576px) {
  .Footer {
    width: 6vw; 
    font-size: 3vw;
  }
}

.Footer {
  text-decoration: none;
  opacity: 0.8;
  background-color: black;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0.5rem;
}

.active{
  color: var(--yellow);
} 

.nav-link {
  margin-left: 0;
  padding:0;
  width: 100%;
} 
.Footer-link {
  font-size: 80%;
}
.Footer-link:hover {
  font-size: 120%;
}

.Footer-link {
  color: white;

  margin: auto;
  transition: font-size 0.1s;
}

.Footer-github:hover {
  color: #6e5494;
}
.Footer-linkedin:hover {
  color: #0077b5;
}
.Footer-contact:hover {
  color: #D44638;
}
.Footer-resume:hover {
  color: #008000;
}
