.Footer {
  height: 5vh;
  text-decoration: none;
  /* background-color: transparent; */
}

.active{
  color: var(--yellow);
}

.nav-link {
  color: white;
}



.Footer-github :hover {
  color: #6e5494;
  width: 300px;
}

.Footer-linkedin :hover {
  color: #0077b5;
}