.NavBar {
  height: 10vh;
  text-decoration: none;
  /* background-color: transparent; */
}

.active{
  color: var(--yellow);
}

.nav-link {
  color: white;
}

.navbar-brand {
  height: 10vh;
  z-index: 1;
}

.NavBar-logo {
  color: var(--electric-blue-5);
  height: 100%;
}
