.NavBar {
  height: 10vh;
  text-decoration: none;
}

.navbar-toggler-icon{
  color: var(--yellow);
}

.nav-link, .dropdown-item, .dropdown-menu {
  color: white;
  /* background-color: var(--electric-blue-1); */
  background-color: black;
  max-width: 25vw;
}

.navbar-brand {
  height: 10vh;
  z-index: 1;
}

.NavBar-logo {
  color: var(--electric-blue-5);
  height: 100%;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--electric-blue-5);
}
