:root {
  /* Color Theme Swatches in Hex */
  --electric-blue-1: #011126;
  --electric-blue-2: #0367A6;
  --electric-blue-3: #024873;
  --electric-blue-4: #049DD9;
  --electric-blue-5: #05C7F2;
  --yellow: #ECC209;
}

body {
  background-color: var(--electric-blue-1);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.section-header {
  margin-top: 5%;
  margin-bottom: 5%;
}
.section-header-title {
  display: inline-block;
  color: white;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid var(--yellow);
} 

b {
  color: var(--electric-blue-5);
  font-size: 1.5em;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
